@charset "utf-8";
/* CSS Document */

.sp_view,.sp_view_,.sp_view_400{ display: none }
.container .page_title,
.container .page_description{ text-align:center }
.container .page_title h1{ color: #125e9f; font-weight: normal; margin: 0; }
.container .page_title h2{ font-size:15px; font-weight: normal; margin: 0; }
.container .page_description p{ margin: 40px 0 30px; }
.container .page_description p span{ color: #e00505 }
.container .page_description p img{ margin: 0 }
.container .page_content{ margin-top: 40px; padding: 0 60px; }
.container .page_content table{ width: 100% }
.container .page_content table tr td{ border-bottom: 1px dashed #cacaca }
.container .page_content table tr td:first-child{ padding: 20px 10px; width: 18%; text-align:right; vertical-align: top; }
.container .page_content table tr td:last-child{ padding: 20px 30px; }
.container .page_content table tr td:first-child span{ color: #e00505; margin-left: 5px; }
.container .page_content table tr td .width30{ width: 30% }
.container .page_content table tr td span.wpcf7-not-valid-tip{ font-size: 13px }
.container .page_content table tr td input[type=checkbox], 
.container .page_content table tr td input[type=radio]{ margin: 0; vertical-align: middle; }
.container .page_content table tr td input[type=text],
.container .page_content table tr td input[type=email]{ width: 100% }
.container .page_content table tr td textarea{ resize: vertical; height: 135px; min-height: 135px; }
.container .page_content table tr td button.send{ padding: 0; }
.container .page_content table tr td button.send img{ margin: 0; }
.container .page_content table tr td label{ margin:0; font-weight: normal }
.container .page_content table tr td span.first{ margin: 0 } 
.container .page_content table tr:last-child td{ border-bottom: 0; text-align: center; padding: 40px 0 0; }


.container--benefit{ margin-top: 6em }
.container--benefit table._info tr td{ padding-bottom: 40px; vertical-align: top; }
.container--benefit table._info tr td:first-child{ padding-right: 5px; }
.container--benefit table._info tr td:last-child{ padding-left: 5px; width: 300px }
.container--benefit table._info tr td .info_title{ margin-bottom: 20px; }
.container--benefit table._info tr td .info_title div,
.container--benefit table._info tr td .info_title img{ vertical-align: top; display: inline-block; }
.container--benefit table._info tr td .info_title img{ margin-right: 5px; }
.container--benefit table._info tr td .info_title div{ color: #125e9f; font-size: 23px; line-height:31px; }
.container--benefit table._info tr td .info_title span{ font-size: 15px; }
.container--benefit ul._others{ list-style: none; margin: 40px -20px 0; padding: 0 }
.container--benefit ul._others li{ float: left; width: 33.333333%; padding: 0 20px; }
.container--benefit ul._others li img{ width: 100% }
.container--benefit ul._others li div{ color:#125e9f; margin: 10px 0; }


.container--faq{ margin: 6em 0 }
.container--faq button.accordion { border: 1px solid #125e9f; background: #fff; color: #125e9f; cursor: pointer; padding: 10px 15px; margin-bottom: 15px; font-weight: bold; transition: 0.4s; position:relative; width: 100%; outline: none; text-align: left; }
.container--faq button.accordion.active, 
.container--faq button.accordion:hover { background-color: #edf5fd; }
.container--faq button.accordion i{ position:absolute; right: 10px; top: 50%; margin-top: -10px; font-size:20px; }
.container--faq div._panel { padding: 0 18px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; }

.container--flow{ margin-top: 6em }

.container--work{ margin: 6em 0 }
.container--work ul{ margin: 0; padding: 0; list-style: none; }
.container--work ul li{ margin-bottom: 50px; width: 100%; }
.container--work ul li:last-child{ margin: 0 }
.container--work ul li p{ margin: 10px; }
.container--work ul li a{ float: right }
.clearfix{ clear:both }

.container--404{ margin-top: 6em; text-align: center; }


.container--job-info{ margin: 6em 0 }
.container--job-info button.accordion { border:0; background:url(/recruit/wp/wp-content/themes/cocomix_recruit/images/accordion-bg.png) #1e76c0 repeat-x; color:#fff; cursor:pointer; padding: 10px 15px 10px 45px; font-weight:bold; transition: 0.4s; position:relative; width: 100%; outline: none; text-align: left; }
.container--job-info button.accordion.active, 
.container--job-info button.accordion:hover { background-color: #edf5fd; }
.container--job-info button.accordion i{ position:absolute; left: 10px; top: 50%; margin-top: -10px; font-size:20px; }
.container--job-info ul._panel { padding: 0 18px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; list-style: none; margin:0; }
.container--job-info ul._panel li{ padding: 10px 0; }
.container--job-info ul._panel li a{ color: #125e9f; }
.container--job-info ul._panel li a i{ margin-right: 15px }
.container--job-info2{ margin: 6em 0 }
.container--job-info2 .section--header{ text-align: left; margin-bottom: 10px; }
.container--job-info2 ul{ padding: 0; margin: 0px -10px; list-style: none }
.container--job-info2 ul li{ float: left; padding: 10px; width: 25% }
.container--job-info2 ul li ._post{ border: 1px solid #125e9f; }
.container--job-info2 ul li ._post ._post_title{ background: #125e9f; color: #fff; padding: 5px; }
.container--job-info2 ul li ._post ._post_meta{ padding: 10px }
.container--job-info2 ul li ._post ._post_meta p{ padding-bottom: 10px; }
.container--job-info2 ul li ._post ._post_meta p:first-child{ border-bottom: 1px dotted #125e9f; margin-bottom: 10px; }
.container--job-info2 ul li ._post ._post_meta p span{ color: #125e9f; display:block; }
.container--job-info2 ul li ._post ._post_meta p span i{ margin-right: 5px }
.container--job-info2 ul li ._post ._post_meta .button{ text-align: center; }
.container--job-info2 ul li ._post ._post_meta a{ display: inline-block; padding: 5px 35px; background: #fff; color: #125e9f; border: 1px solid #125e9f; border-radius: 5px; }
.container--job-info2 ul li ._post ._post_meta a:hover{ text-decoration:none; background: #125e9f; color: #fff;  }

.container--job-info-cat{ margin: 1em 0; float: left; width:25%;  }
.container--job-info-cat .section--header{ text-align: left; margin-bottom: 25px; }
.container--job-info-cat .section--header h1{ color: #333; font-size: 20px; width: 30%; white-space: nowrap; border-bottom: 5px solid #125e9f; padding-bottom: 5px; } 
.container--job-info-cat button.accordion { border:0; background:url(/recruit/wp/wp-content/themes/cocomix_recruit/images/accordion-bg.png) #1e76c0 repeat-x; color:#fff; cursor:pointer; padding: 10px 15px 10px 45px; font-weight:bold; transition: 0.4s; position:relative; width: 100%; outline: none; text-align: left; }
.container--job-info-cat button.accordion.active, 
.container--job-info-cat button.accordion:hover { background-color: #edf5fd; }
.container--job-info-cat button.accordion i{ position:absolute; left: 10px; top: 50%; margin-top: -10px; font-size:20px; }
.container--job-info-cat ul._panel { padding: 0 10px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-out; list-style: none; margin:0; }
.container--job-info-cat ul._panel li{ padding: 5px 0; }
.container--job-info-cat ul._panel li a{ color: #125e9f; }
.container--job-info-cat ul._panel li a i{ margin-right: 10px }

.container--job-info2-cat{ margin: 1em 0; float: left; width:75%; padding-left: 70px }
.container--job-info2-cat .section--header{ text-align: left; margin-bottom: 20px; }
.container--job-info2-cat .section--header h1{ color: #333; font-size: 20px } 
.container--job-info2-cat ul{ padding: 0; margin: 0px -10px; list-style: none }
.container--job-info2-cat ul li{ float: left; padding: 10px; width: 33.3333333% }
.container--job-info2-cat ul li ._post{ border: 1px solid #125e9f; }
.container--job-info2-cat ul li ._post ._post_title{ background: #125e9f; color: #fff; padding: 5px; }
.container--job-info2-cat ul li ._post ._post_meta{ padding: 10px }
.container--job-info2-cat ul li ._post ._post_meta p{ padding-bottom: 10px; }
.container--job-info2-cat ul li ._post ._post_meta p:first-child{ border-bottom: 1px dotted #125e9f; margin-bottom: 10px;  }
.container--job-info2-cat ul li ._post ._post_meta p span{ color: #125e9f; display:block; }
.container--job-info2-cat ul li ._post ._post_meta p span i{ margin-right: 5px }
.container--job-info2-cat ul li ._post ._post_meta .button{ text-align: center; }
.container--job-info2-cat ul li ._post ._post_meta a{ display: inline-block; padding: 5px 35px; background: #fff; color: #125e9f; border: 1px solid #125e9f; border-radius: 5px; }
.container--job-info2-cat ul li ._post ._post_meta a:hover{ text-decoration:none; background: #125e9f; color: #fff;  }

.container--job-info2-cat .section--header h1 span{ display: inline-block; background: #daebf8; font-size: 12px; padding: 4px 10px; margin-left: 15px; vertical-align: top; }
.container--job-info2-cat table{ margin-top: 50px }
.container--job-info2-cat table tr th{ background: #146db9; color: #fff; padding: 10px; font-weight: normal; }
.container--job-info2-cat table tr td{ vertical-align: top; padding: 20px 10px; border-bottom: 1px dashed #125e9f; }
.container--job-info2-cat table tr td:first-child{ width: 15%; color: #125e9f }
.container--job-info2-cat a.link-contact,
.container--job-info2-cat a.link-contact:hover{ text-align: center; display:block; text-decoration: none; margin-top: 50px; }

.alm-btn-wrap{ padding: 40px 0 25px; }
.alm-btn-wrap button.alm-load-more-btn{ background:url(/recruit/wp/wp-content/themes/cocomix_recruit/images/blank-blue-btn.png) #125e9f center; height: 48px; font-weight:normal; padding: 0 48px; }
.alm-btn-wrap button.alm-load-more-btn i{ margin-right: 7px; }
.alm-btn-wrap button.alm-load-more-btn.done{ opacity: 0 }

.site--navigation_menu li.current-menu-item a{ text-decoration: none; background-color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; color: #74c2fa; }

.site-content{ position: relative }
.link-main{ position: absolute; top:0; left:0; z-index: 1; }
.link-main img:hover{ opacity: 0.75 }

.footer--socials{ position: relative }
.page_top{ position:absolute; bottom:20px; right:30px; z-index: 1; text-align:center; font-size:12px; line-height:20px; }
.page_top:hover,
.page_top:active,
.page_top:visited,
.page_top:focus{ text-decoration:none }
.page_top i{ font-size: 25px; }

@media only screen and (max-width:992px){
	.container .page_content{ padding: 0 }
	.container .page_content table tr td:first-child{ padding: 20px 5px; width: 20%; }
	
	.container--benefit table._info tr td:last-child{ width: 230px }
}

@media only screen and (max-width:768px){
	.container .page_content table tr td:first-child{ width: 23%; }
	.container .page_content table tr td:last-child{ padding: 20px; }
	.container .page_content table tr td span.first,
	.container .page_content table tr td .wpcf7-list-item{ margin: 0 1em 0 0; }
	
	.container--benefit table._info tr td{ display:block; padding: 0 0 40px }
	.container--benefit table._info tr td:last-child{ width: 100%; text-align:center;  }
}

@media only screen and (max-width:635px){
	.container .page_content table tr td:first-child{ width: 25%; padding: 20px 0; }
	
	.container{ padding-right: 10px; padding-left: 10px; }
	#masthead .site--header_main .container .custom-logo-link img{ width: 86px; }
	#masthead .site--header_main .container .site-description{ margin: 20px 0px 0px 15px; font-size: 13px; }
	#masthead .site--header_main .container .header--contact{ margin-top: 2px; }
}

@media only screen and (max-width:600px){
	.sp_view,.sp_view_{ display: block }
	.pc_view{ display: none }
	
	
	#masthead .sp_view.header--contact{ margin-top: 0; float: none; width:100%; }
	#masthead .sp_view.header--contact img{ width:100%; }
	
	#masthead .site--header_main{ box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16); }
	#masthead .site--navigation{ background: none; }
	#masthead .site--navigation .menu-toggle{ width:auto; margin: -66px 10px 0 0; float:right; color: #fff; background:#74c2fa }
	#masthead .site--navigation .menu-toggle i{ margin-right: 10px }
	#masthead .site--navigation ul{ padding: 0; }
	#masthead .site--navigation .container{ padding: 0 }
	#masthead .site--navigation .container:after{ clear:none }
	#masthead .site--navigation_menu li{ width: 50%; text-align: left; padding: 10px 40px; }
	#masthead .site--navigation_menu li:nth-child(odd){ border-bottom: 1px solid #125e9f; border-right: 1px solid #125e9f; }
	#masthead .site--navigation_menu li:nth-child(even){ border-bottom: 1px solid #125e9f; }
	#masthead .site--navigation_menu li:last-child{ border-bottom: 0; }
	#masthead .site--navigation_menu li a{ color: #125e9f }
	#masthead .site--navigation_menu li a i{ margin-left: 8px }
	
	.container .page_description{ text-align: left }
	.container .page_description img{ margin: auto }
	.container .page_content table tr td{ display: block }
	.container .page_content table tr td:first-child{ width: 100%; border: 0; text-align: left; }
	.container .page_content table tr td:last-child{ padding: 0 0 20px; }
	.container .page_content table tr:last-child td{ border-bottom: 0; text-align: center; padding: 40px 0 0; }
	.container .page_content table tr td .width30{ width: 25% }
	
	.container--benefit ul._others{ margin: 40px 0 0; padding: 0 }
	.container--benefit ul._others li{ width: 100%; padding: 0; margin-bottom: 40px; }
	.container--benefit ul._others li:last-child{ margin-bottom: 0 }
	.container--benefit table._info tr td:last-child img{ width: 100% }
	
	.container--job-info2 ul li{ float: left; padding: 5px; width: 50% }
	
	.container--job-info-cat.sp_view,
	.container--job-info2-cat{ float:none; width: 100%; display: block; padding: 0; }
	.container--job-info-cat .section--header h1{ width: 10% }
	.container--job-info-cat{ margin-top: 4em; }
	.container--job-info2-cat ul{ margin: 0px -5px; }
	.container--job-info2-cat ul li{ float: left; padding: 5px; width: 50% }
	
	.container--job-info2-cat table tr td:first-child{ border: none; width: 100%; padding-bottom: 0; }
	.container--job-info2-cat table tr td{ width: 100%; display:block }
	
	.page_top{ bottom:10px; line-height:15px; }
	.page_top i{ font-size: 20px; }
}

@media only screen and (max-width:400px){
	.sp_view_400{ display: block }
	.sp_view_{ display: none }
}

