@charset "UTF-8";
.vertical-middle-center {
  vertical-align: middle;
  text-align: center; }

.vertical-middle-right {
  vertical-align: middle;
  text-align: right; }

.vertical-middle-left {
  vertical-align: middle;
  text-align: left; }

.still-right {
  vertical-align: middle;
  padding-left: 27em; }

.vertical-top-center {
  vertical-align: top;
  text-align: center; }

.vertical-top-right {
  vertical-align: top;
  text-align: right; }

.vertical-top-left {
  vertical-align: top;
  text-align: left; }

.vertical-bottom-center {
  vertical-align: bottom;
  text-align: center; }

.vertical-bottom-right {
  vertical-align: bottom;
  text-align: right; }

.vertical-bottom-left {
  vertical-align: bottom;
  text-align: left; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック Medium", YuGothic, YuGothicM, "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  font-size: 15px;
  line-height: 1.75; }

h4 {
  font-size: 25px;
  margin: 10px 0 30px;
  position: relative; }

h4:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  top: 35px;
  width: 60px;
  height: 3px;
  background-color: #74c2fa; }

a img:hover {
  opacity: 0.75; }

.button--show_more, .single--page_navigation a {
  padding: 10px 30px;
  border: 1px solid #146db9;
  color: #146db9;
  float: right;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .button--show_more, .single--page_navigation a {
      padding-bottom: 7px; } }
  @media screen and (min-width: 0\0) {
    .button--show_more, .single--page_navigation a {
      padding-bottom: 7px; } }

.button--show_more:hover, .single--page_navigation a:hover,
.button--show_more:visited,
.single--page_navigation a:visited {
  color: #146db9; }

.button--show_more:hover, .single--page_navigation a:hover {
  text-decoration: none;
  opacity: 0.75; }

.background--cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.gradient--style, .job--category li .terms--parents {
  background: #146cb9;
  background: -moz-linear-gradient(top, #146cb9 0%, #74c2fa 74%, #74c2fa 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #146cb9), color-stop(74%, #74c2fa), color-stop(100%, #74c2fa));
  background: -webkit-linear-gradient(top, #146cb9 0%, #74c2fa 74%, #74c2fa 100%);
  background: -o-linear-gradient(top, #146cb9 0%, #74c2fa 74%, #74c2fa 100%);
  background: -ms-linear-gradient(top, #146cb9 0%, #74c2fa 74%, #74c2fa 100%);
  background: linear-gradient(to bottom, #146cb9 0%, #74c2fa 74%, #74c2fa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#146cb9', endColorstr='#74c2fa', GradientType=0 ); }

.dynamic--page {
  text-transform: uppercase; }

.container {
  max-width: 1029px; }

.container--small {
  max-width: 793px; }

.container--interview {
  margin: 0 auto;
  max-width: 780px; }

.site--header_main {
  background-color: #fff; }

.site--navigation {
  background-color: #74c2fa; }

.site--header_main {
  padding: 20px 0; }
  .site--header_main .custom-logo-link {
    float: left; }
  .site--header_main .site-description {
    float: left;
    margin: 35px 0px 0px 20px;
    font-size: 15px;
    clear: inherit; }

.contact--btn {
  text-align: center;
  margin-top: 90px; }
  .contact--btn a {
    display: inline-block; }
    .contact--btn a img:hover {
      opacity: 0.75; }

.header--contact {
  float: right;
  margin-top: 10px; }

.header--contact a {
  display: block; }

.main-navigation ul {
  padding: 0 10px; }

.site--navigation .container {
  padding: 2px 0; }

.site--navigation_menu li {
  width: 13.9999999%;
  text-align: center; }
  .site--navigation_menu li a {
    color: #fff;
    padding: 5px 0;
    display: block; }
  .site--navigation_menu li a:hover {
    text-decoration: none;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #74c2fa; }

.slick--slide {
  position: relative; }
  .slick--slide img {
    max-width: 100%;
    width: 100%; }
  .slick--slide .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%; }

.table--display {
  display: table;
  height: 100%;
  width: 100%;
  position: relative; }
  .table--display .table--cell_display {
    display: table-cell; }
    .table--display .table--cell_display img {
      width: auto; }

.slide--label_position {
  vertical-align: bottom;
  padding-bottom: 80px; }
  .slide--label_position img {
    display: inline-block !important; }

.page--description {
  text-align: center;
  margin-bottom: 70px; }

.section--blue {
  background-image: url("../images/blue-bg.jpg");
  background-repeat: repeat-x;
  padding: 40px 0;
  margin-bottom: 50px; }
  .section--blue p {
    font-size: 15px;
    color: #fff; }
    .section--blue p span {
      font-size: 24px; }

.section--content, .event--area {
  margin-bottom: 10em; }

.section--content--top-date {
  margin-bottom: 70px; }

.section--header {
  text-align: center;
  margin-bottom: 70px; }
  .section--header h1,
  .section--header h2 {
    color: #125e9f;
    font-size: 30px; }
  .section--header span {
    color: #262626;
    font-size: 14px; }

.section--header--top-page {
  margin-bottom: 50px; }

.interviewees--list {
  padding: 0 30px; }

.interviewees--images {
  margin-bottom: 50px; }

.interviewees--content {
  border-top: 1px solid #262626;
  border-bottom: 1px solid #262626; }
  .interviewees--content p {
    padding: 20px 75px;
    margin-bottom: 0; }

.row--list .row {
  margin-bottom: 60px; }
.row--list p {
  line-height: 2;
  margin-bottom: 20px; }

.event--area {
  background-color: #e2e2e2; }
  .event--area .section--content, .event--area .event--area {
    margin-bottom: 0;
    padding: 30px 0; }

.event--section {
  text-align: left; }

.event--lists ul {
  list-style-type: none;
  margin: 0;
  padding-top: 15px; }
  .event--lists ul li {
    padding: 10px 40px;
    border-bottom: 1px dashed #262626;
    position: relative; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .event--lists ul li {
        padding-bottom: 9px;
        padding-top: 142px; } }
    @media screen and (min-width: 0\0) {
      .event--lists ul li {
        padding-bottom: 9px;
        padding-top: 142px; } }
    .event--lists ul li p {
      margin: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        .event--lists ul li p {
          line-height: 115%; } }
      @media screen and (min-width: 0\0) {
        .event--lists ul li p {
          line-height: 115%; } }
      .event--lists ul li p span {
        display: inline-block;
        width: 110px; }
      .event--lists ul li p a {
        color: #262626; }
      .event--lists ul li p a:hover,
      .event--lists ul li p a:visited {
        color: #262626; }
  .event--lists ul li:before {
    content: "\f0da";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    color: #125e9f;
    position: absolute;
    left: 25px;
    top: 12px; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .event--lists ul li:before {
        top: 7px; } }
    @media screen and (min-width: 0\0) {
      .event--lists ul li:before {
        top: 7px; } }

.date--box_list .row
.box--list .box--inner {
  text-align: center;
  font-size: 18px;
  background-color: #125e9f;
  padding: 30px 20px 20px;
  min-height: 222px;
  position: relative;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  .date--box_list .row
  .box--list .box--inner span {
    display: block;
    color: #fff;
    margin-top: 20px;
    line-height: 1.3;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0; }
.date--box_list .row
.box--list:nth-child(odd) .box--inner {
  background-color: #74c2fa; }

.date--links .btn--links {
  width: 48.99999999%;
  float: left;
  border: 2px solid #125e9f;
  padding: 20px 30px 20px 90px;
  text-align: center;
  font-size: 25px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  .date--links .btn--links:hover {
    text-decoration: none;
    opacity: 0.75; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .date--links .btn--links {
      padding-top: 32px;
      padding-bottom: 26px;
      line-height: 100%; } }
  @media screen and (min-width: 0\0) {
    .date--links .btn--links {
      padding-top: 32px;
      padding-bottom: 26px;
      line-height: 100%; } }
  .date--links .btn--links i {
    float: right;
    position: relative;
    top: 9px;
    left: 15px; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .date--links .btn--links i {
        top: -2px; } }
    @media screen and (min-width: 0\0) {
      .date--links .btn--links i {
        top: -2px; } }
.date--links .btn--links:hover,
.date--links .btn--links:visited {
  color: #125e9f; }
.date--links .btn--links:first-child {
  margin-right: 10px; }
.date--links .btn--links:first-child:before {
  content: "";
  background-image: url("../images/icon-folder.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 22px;
  top: 12px;
  height: 59px;
  width: 80px; }
.date--links .btn--links:last-child:before {
  content: "";
  background-image: url("../images/icon-hand.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 22px;
  top: 12px;
  height: 59px;
  width: 80px; }

.interviewers {
  margin-top: 6em; }
  .interviewers a,
  .interviewers a:hover {
    text-decoration: none;
    color: inherit; }
  .interviewers h3 {
    font-size: 20px;
    margin: 15px 0 5px; }
  .interviewers .interviewer {
    margin-bottom: 30px; }

.styled--text_banner {
  font-size: 30px;
  color: #125e9f;
  font-weight: bold;
  text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff, 0 0 20px #fff; }
  .styled--text_banner span {
    font-size: 40px;
    margin: 0 20px;
    position: relative;
    top: 2px; }

.styled--text_banner_dark {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 20px #262626, 0 0 20px #262626, 0 0 20px #262626, 0 0 20px #262626, 0 0 20px #262626; }

.interviewer--pages h3 {
  color: #125e9f;
  font-size: 20px; }
.interviewer--pages .intervierwer--entry h1,
.interviewer--pages .intervierwer--entry h2 {
  font-size: 25px; }
.interviewer--pages .intervierwer--entry h1 {
  margin: 0; }
.interviewer--pages .intervierwer--entry h2 {
  text-align: right; }
.interviewer--pages .intervierwer--entry span {
  display: block; }
.interviewer--pages .intervierwer--entry_content {
  margin-top: 5em; }
  .interviewer--pages .intervierwer--entry_content h3 {
    color: #74c2fa;
    font-size: 18px;
    margin-bottom: 25px; }
  .interviewer--pages .intervierwer--entry_content .last--content {
    margin-top: 5em; }

.interviewers--footer_type {
  border-top: 1px solid #262626;
  margin-top: 5em;
  padding-top: 1.5em; }
  .interviewers--footer_type .interviewer--footer_section {
    text-align: left;
    margin-bottom: 30px; }
    .interviewers--footer_type .interviewer--footer_section h2 {
      font-size: 20px;
      margin-bottom: 5px; }

.work--section {
  margin-bottom: 8em; }
  .work--section .work--section_description {
    padding: 20px 15px 0; }

.flow--section {
  padding-left: 5em;
  position: relative; }
  .flow--section:before {
    content: "";
    background-image: url("../images/flow_circle.png");
    background-position: top;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    left: 0;
    top: -5px;
    position: absolute; }
  .flow--section .flow--section_inner {
    border: 2px solid #125e9f;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 30px 40px; }
    .flow--section .flow--section_inner:before {
      width: 0;
      height: 0;
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;
      border-left: 60px solid #125e9f; }

.event--post {
  height: 335px;
  overflow: hidden; }

.event--archive_list {
  font-size: 18px; }
  .event--archive_list:hover {
    opacity: 0.75; }
  .event--archive_list a {
    color: #262626; }
  .event--archive_list a:hover,
  .event--archive_list a:visited {
    color: #262626;
    text-decoration: none; }
  .event--archive_list .thumbnail--meduim {
    height: 187px;
    background-color: #e2e2e2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .event--archive_list span {
    display: block;
    font-size: 12px;
    margin: 10px 0 5px;
    border-bottom: 1px solid #125e9f;
    padding-bottom: 5px; }

.archive--title_head {
  font-size: 25px;
  color: #146db9; }

.search--categories {
  margin: 70px auto; }

.job--box {
  border: 1px solid #146db9; }
  .job--box a {
    float: none;
    padding: 5px 40px;
    font-size: 12px;
    color: #146db9; }
  .job--box a:hover {
    text-decoration: none;
    background-color: #146db9;
    color: #fff; }
  .job--box a:visited,
  .job--box a:focus {
    text-decoration: none; }
  .job--box h3 {
    margin: 0;
    padding: 10px 5px;
    background-color: #146db9;
    color: #fff;
    font-size: 20px;
    text-align: center; }
  .job--box .job--box_content {
    padding: 15px 10px;
    text-align: center; }
    .job--box .job--box_content p {
      font-size: 14px;
      line-height: normal; }
    .job--box .job--box_content span {
      font-size: 12px;
      color: #146db9;
      display: block; }
    .job--box .job--box_content span:before {
      margin-right: 5px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .job--box .job--box_content .office span:before {
      content: "\f015";
      font-size: 12px; }
    .job--box .job--box_content .work span:before {
      content: "\f041";
      font-size: 12px; }
    .job--box .job--box_content .office {
      border-bottom: 1px dotted #146db9;
      text-align: left; }
    .job--box .job--box_content .work {
      padding-top: 10px;
      text-align: left; }

.event--single_banner {
  position: relative;
  text-align: center; }
  .event--single_banner .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%; }

.pages--single_banner {
  position: relative;
  text-align: center; }
  .pages--single_banner .container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%; }

.event--entry {
  font-size: 25px;
  margin-top: 25px; }

.entry-content img {
  padding: 10px 5px; }

.job--single_head h1 {
  font-size: 25px;
  display: inline-block;
  margin: 0 10px 0 0; }
.job--single_head span {
  display: inline-block;
  background-color: #daebf8;
  padding: 2px 10px;
  vertical-align: top;
  font-size: 12px; }

.entry--fields {
  margin-top: 70px; }
  .entry--fields h2 {
    margin: 0;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color: #146db9; }
  .entry--fields table tr th,
  .entry--fields table tr td {
    padding: 20px;
    border-bottom: 1px dashed #aeaeae;
    border-top: none; }
  .entry--fields table tr th {
    font-weight: normal;
    color: #146db9; }
  .entry--fields table tr td {
    line-height: 2; }

.breadcrumb {
  background-color: transparent;
  font-size: 15px; }
  .breadcrumb .container--inner {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .breadcrumb .container--inner li {
      display: inline; }
      .breadcrumb .container--inner li a {
        padding-right: 10px;
        color: #125e9f;
        text-decoration: underline; }
        .breadcrumb .container--inner li a:hover {
          color: #23527c; }
      .breadcrumb .container--inner li a:after {
        content: "\f105";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 14px;
        color: #262626;
        position: relative;
        left: 6px; }
      .breadcrumb .container--inner li a:visited {
        color: #125e9f; }

.single--page_navigation {
  margin-top: 110px; }
  .single--page_navigation a {
    float: none; }
  .single--page_navigation .posttype--btn_link {
    margin: 0 25px;
    background-color: #74c2fa;
    border-color: #74c2fa;
    color: #fff; }
  .single--page_navigation .posttype--btn_link:hover,
  .single--page_navigation .posttype--btn_link:visited {
    color: #fff; }

.widget-title {
  font-size: 20px;
  margin-top: 25px; }

.event-new_arrrival {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .event-new_arrrival li {
    padding: 10px 5px;
    border-bottom: 1px dashed #262626;
    position: relative; }
    .event-new_arrrival li:hover {
      opacity: 0.75; }
    .event-new_arrrival li .new--arrival_list a,
    .event-new_arrrival li .new--arrival_list a:hover {
      text-decoration: none;
      color: inherit; }
    .event-new_arrrival li .new--arrival_list .thumb--list {
      height: 48px;
      width: 60px;
      background-color: #e2e2e2;
      float: left;
      margin-right: 10px; }
    .event-new_arrrival li .new--arrival_list p {
      font-size: 14px;
      margin: 0;
      padding-top: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .event-new_arrrival li .new--arrival_list span {
      float: right;
      margin-right: 10px;
      font-size: 10px;
      position: absolute;
      bottom: 5px;
      right: 0px; }

.container--single--page .content-area {
  padding-right: 40px; }

.single--event_content {
  margin-top: 2.75em; }

.job--category {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .job--category li .terms--parents {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .job--category li .terms--parents:before {
    content: "\f055";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    font-size: 20px; }
  .job--category li .terms--parents:hover,
  .job--category li .terms--parents:focus {
    text-decoration: none; }
  .job--category li .parent--active:before {
    content: "\f056"; }
  .job--category li .sub--category {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; }
    .job--category li .sub--category li a {
      background-color: #fff;
      color: #146db9;
      font-size: 15px;
      padding: 10px 0;
      display: block;
      border-bottom: 1px solid #146db9; }
    .job--category li .sub--category li a:before {
      content: "\f0a9";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 10px;
      font-size: 18px; }
    .job--category li .sub--category li a:hover {
      text-decoration: none; }
    .job--category li .sub--category li:last-child a {
      border-bottom: none; }

.site-footer {
  margin-top: 10em; }

.footer--socials {
  background-color: #daebf8; }
  .footer--socials .footer--socials_content {
    padding: 50px 0; }

.foot-social_con {
  width: 61.333333%;
  float: left; }
  .foot-social_con .foot--social_img a {
    width: 32.33333333333333%;
    float: left;
    margin: 2px; }

.foot-info_con {
  width: 38.333333%;
  float: left; }

.foot--address_text {
  padding: 0;
  width: 48.333333%;
  float: left; }
  .foot--address_text .foot--title {
    font-size: 15px;
    display: block;
    margin-bottom: 15px;
    padding-left: 10px; }
  .foot--address_text .foot--address {
    font-size: 12px;
    padding-left: 10px;
    margin-bottom: 10px; }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .foot--address_text .foot--address {
        margin-bottom: 13px; } }
    @media screen and (min-width: 0\0) {
      .foot--address_text .foot--address {
        margin-bottom: 13px; } }

.foot--logo {
  padding: 0;
  margin-right: 5px;
  min-height: 132px;
  position: relative;
  width: 48.333333%;
  float: left;
  text-align: center;
  padding-right: 20px; }
  .foot--logo a img:hover {
    opacity: 0.75; }

.foot--button {
  display: block;
  padding: 5px;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }
  .foot--button:hover {
    opacity: 0.75; }

.foot--button:hover,
.foot--button:visited {
  text-decoration: none;
  color: #fff; }

.contact--foot {
  background-color: #125e9f;
  position: absolute;
  width: 100%;
  bottom: 3px; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .contact--foot {
      padding-bottom: 1px; } }
  @media screen and (min-width: 0\0) {
    .contact--foot {
      padding-bottom: 1px; } }

.phone--foot {
  background-color: #ffb400; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .phone--foot {
      padding-bottom: 2px; } }
  @media screen and (min-width: 0\0) {
    .phone--foot {
      padding-bottom: 2px; } }

.site-info {
  background-color: #125e9f;
  padding: 10px 0; }
  .site-info p {
    margin-bottom: 0;
    text-align: center;
    color: #fff; }

.mb-90 {
  margin-bottom: 90px; }

.mb-110 {
  margin-bottom: 110px; }

.date--links {
  margin-top: 20px; }

.test {
  font-size: 12px; }
