
// Site colors
$color_light_blue  : #daebf8;
$color_medium_blue  : #74c2fa;
$color_dark_blue : #125e9f;
$color_gray  : #e2e2e2;
$color_light_gray : #aeaeae;
$color_white : #fff;
$color_dark  : #262626;
$color_yellow : #ffb400;
$btn_border_color : #146db9;
$other_color: #146db9;

.vertical-middle-center{
    vertical-align: middle;
    text-align: center;
}
.vertical-middle-right{
    vertical-align: middle;
    text-align: right;
}
.vertical-middle-left{
    vertical-align: middle;
    text-align: left;
}
.still-right{
  vertical-align: middle;
  padding-left: 27em;
}

.vertical-top-center{
    vertical-align: top;
    text-align: center;
}
.vertical-top-right{
    vertical-align: top;
    text-align: right;
}
.vertical-top-left{
    vertical-align: top;
    text-align: left;
}

.vertical-bottom-center{
    vertical-align: bottom;
    text-align: center;
}
.vertical-bottom-right{
    vertical-align: bottom;
    text-align: right;
}
.vertical-bottom-left{
    vertical-align: bottom;
    text-align: left;
}
