.sp--view{
  display: none !important;
}
@media screen and (max-width: 1024px) {
  .footer--socials{
    .footer--socials_content{
      padding-bottom: 70px;
    }
    .page_top{
      bottom: 10px;
    }
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 767px) {
  body{
    font-size: 18px;
  }
  .sp--view{
    display: block !important;
  }
  .pc--view{
    display: none !important;
  }
  .still-right{
    padding: 0;
  }
  .styled--text_banner{
    font-size: 25px;
  }
  .section--content,
  .event--area,
  .footer--socials,
  .container-sections{
    padding-left: 15px;
    padding-right: 15px;
  }
  .container--single--page{
    .row{
      margin-left: 0;
      margin-right: 0;
    }
  }
  .container--single--page{
    .content-area{
      padding-right: 0px;
    }
  }
  .event-new_arrrival {
    li {
      padding-bottom: 15px !important; 
      .new--arrival_list {
        p{
          width: 100%;
          font-size: 16px;
        }
        span{
          font-size: 14px !important;
          bottom: 2px;
        }
      }
    }
  }
  .single--page_navigation{
    margin-bottom: 5em;
    a{
      padding: 10px 12px;
      margin-bottom: 20px;
    }
  }
  .container--interview{
    margin: 0 14%;
  }
  .interviewer--pages{
    padding: 0 30px;
    img{
      width: 100%;
    }
    .intervierwer--entry_content{
      img{
        width: auto;
      }
      h3,
      .last--content{
        margin-top: 2em;
      }

    }
  }
  .interviewer--pages{
    .intervierwer--entry{
      h1{
        margin-top: 20px;
      }
      h2{
        margin-bottom: 45px;
      }
    }
  }
  .date--links{
    .btn--links{
        width: 100%;
        margin-bottom: 20px;
    }
  }

  .img--list{
    margin-bottom: 15px;
  }

  .row--list{
    img{
      margin-bottom: 30px;
    }
  }

  .interviewees--content{
    p{
      padding: 20px 10px;
    }
  }
  .interview--circles{
    margin-bottom: 15px;
  }
  .event--section{
    margin-bottom: 30px;
  }
  .event--lists{
    ul{
      padding: 0;
    }
  }
  .single--event_content{
    img{
      width: 100%;
    }
  }
  .event-new_arrrival{
    li{
      padding: 10px;
      .new--arrival_list{
        .thumb--list{
          margin-right: 15px;
          display: inline-block;
        }
        p{
          padding-top: 10px;
          display: inline-block;
        }
        span{
          float: left;
          display: inline-block;
          font-size: 12px;
          margin-top: 12px;
        }
      }
    }
  }

  .foot-info_con{
    width: 100%;
  }
  .info--this{
    padding: 0 20px;
  }
  .foot--logo{
    min-height: 144px;
  }
  .foot--button{
    padding: 10px 5px;
  }
  .contact--foot{
    bottom: 0;
  }
  .foot-social_con{
    margin-top: 15px;
    @extend  .foot-info_con;
    .foot--social_img{
      text-align: center;
      img{
        width: 100%;
      }
    }
  }
  .foot--address_text{
    .foot--address{
      margin-bottom: 12px;
    }
  }
  .footer--socials{
    .footer--socials_content{
      padding-bottom: 65px;
    }
  }
  .site-info{
    padding: 25px 0;
  }
}
